.banner-top
{
position: absolute; 
z-index: -100;

}
.full-width-thing
{
 width: 100%; 
}
.smoke
{
	background: rgba(250, 250, 250, .92);		
}
body
{
	background: linear-gradient( rgba(238,178,17, 0.92), rgba(238,178,17, 0.92) ), url("../images/gtimg-min.jpeg");
	
}
.display-none
{
display:none;
}
.full-height{
height:100%; 
}
.center-left
{
  padding-left: 5.5em;
  padding-right: 5.5em;
}
.name
{
 border: 2px dashed #00FF7F;
 padding: 5px;
}

